extend index

block content
    .row(style="padding-top:20px;")
        .large-12.columns
            #container
                each value, key in json
                    .large-6.columns
                        .callout.primary 
                            each item, index in value
                                if index == 'name'
                                    - var name = item
                                else if index == 'map'
                                    - var map = item
                                else if index == 'description'
                                    - var description = item
                                else if index == 'detour'
                                    - var detour = item
                                else if index == 'address'
                                    - var address = item
                                else if index == 'phone'
                                    - var phone = item.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
                                else if index == 'website'
                                    - var website = item
                                    h2.presto-h2 #{name}
                                    p
                                        a(href='#{map}', target="_blank") (Open location in browser)
                                    !{description}
                                    p <strong>How much of a detour:</strong> #{detour}
                                    p 
                                        <strong>Go:</strong> 
                                        a(href='#{map}', target="_blank") #{address}
                                        , #{phone}, 
                                        a(href='#{website}', target="_blank") #{website}
                    //- .large-6.columns Raw
    //- script(type="text/javascript").
    //-     var obj = !{JSON.stringify(json)};
    //-     console.log(obj);
    //-     for(var i = 0; i < obj.length; i++){
    //-         var createDiv = document.createElement("div");
    //-         createDiv.innerHTML = 
    //-         "<p>"+obj[i]['name']+"</p>"
    //-         document.getElementById("container").appendChild(createDiv);
    //-     }