extend index

block content
    .row(style="padding-top:20px;")
        .large-12.columns
            #container
                each value, key in json
                    .large-6.columns
                        .callout.primary 
                            each item, index in value
                                if index == 'name'
                                    - var name = item
                                else if index == 'map'
                                    - var map = item
                                else if index == 'description'
                                    - var description = item
                                else if index == 'detour'
                                    - var detour = item
                                else if index == 'address'
                                    - var address = item
                                else if index == 'city'
                                    - var city = item
                                else if index == 'state'
                                    - var state = item
                                else if index == 'zip'
                                    - var zip = item
                                else if index == 'photo'
                                    - var photo = item
                                else if index == 'phone'
                                    - var phone = item.replace(/(\d{3})(\d{3})(\d{4})/, "$1-$2-$3");
                                else if index == 'website'
                                    - var website = item
                                    - var removeWWW = website.replace("www.","")
                                    - var SSLprotected = removeWWW.replace("https://","")
                                    - var sitename = SSLprotected.replace("http://","")
                                    h2.presto-h2 #{name}
                                    p
                                        a(href='#{map}', target="_blank") (Open location in browser)
                                    !{description}
                                    p <strong>How much of a detour:</strong> #{detour}
                                    p 
                                        <strong>Go:</strong> 
                                        a(href='#{map}', target="_blank") #{address}, #{city}, #{state} #{zip}
                                        , #{phone},   
                                        a(href='#{website}', target="_blank") #{sitename}
                                    p Presto photo ID: #{photo}